.sponser-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    min-height: 40vh;
    background: #ffffffec;
    overflow: hidden;
    z-index: 1;
    align-content: center;
    flex-wrap: nowrap;
}

.company-logo img {
    width: 100%;
    color: black;
    background: #0071bd;
}